.pt2
.pt2_2
.pt13
*.egg-info
build
/outputs
/results
/checkpoints
/checkpoints_bk
3rd_lib
*.pyc
wandb/
/src
src/sdata
src/taming-transformers
/logs
/.data
dist/sgm-0.0.1-py3.9.egg
/images
__pycache__
.data
.vscode*
logs
sgm.egg-info
src
*.log
*.pth
*.png

/debug
scripts/demo/sampling_command.py

.vscode/settings.json
.vscode/launch.json
src/sdata
src/taming-transformers

upload_expdir
*.env
sgm/models/ckpts/sk_model.pth
sgm/models/ckpts/sk_model2.pth
params.txt
params1.txt
sgm/modules/diffusionmodules/ckpts/sk_model.pth
sgm/modules/diffusionmodules/ckpts/sk_model2.pth
compare1.txt
compare2.txt
debug.txt
outputs/
debug_ckpt.txt
debug_model.txt
debug.ipynb
.amltconfig
scripts/sampling/sampling_tv2v.py
configs/inference_tv2v
prompt_sample/basemodel_paths.txt
prompt_sample/tv2v_prompt_mysamples.txt
prompt_sample/tv2v_prompt_debug_getty.txt
prompt_sample/tv2v_videopath_mysamples.txt
prompt_sample/tv2v_videopath_debug.txt
prompt_sample/tv2v_videopath_debug_getty.txt
prompt_sample/tv2v_videopath_debug_getty.txt
prompt_sample/tv2v_prompt_debug.txt
.pt2
.pt2_2
.pt13
*.egg-info
build
/outputs
/checkpoints
/checkpoints_bk
3rd_lib
*.pyc

/src
src/sdata
src/taming-transformers
/logs
/.data
dist/sgm-0.0.1-py3.9.egg
/images
__pycache__
.data
.vscode*
logs*
sgm.egg-info
src
*.log

/debug
scripts/demo/sampling_command.py

.vscode/settings.json
.vscode/launch.json
src/sdata
src/taming-transformers

upload_expdir
*.env
sgm/models/ckpts/sk_model.pth
sgm/models/ckpts/sk_model2.pth
params.txt
params1.txt
sgm/modules/diffusionmodules/ckpts/sk_model.pth
sgm/modules/diffusionmodules/ckpts/sk_model2.pth
compare1.txt
compare2.txt
debug.txt
outputs/
debug_ckpt.txt
debug_model.txt
debug.ipynb
.amltconfig
*.swp
vae_mds_fp32/